@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using System.Security.Cryptography
@using GUI.Components.Controllers
@using GUI.Components.Models
@using Microsoft.AspNetCore.Hosting.Server.Features
@inject IJSRuntime JsRuntime;


<PageTitle> Snake </PageTitle>

<img @ref="backgroundImage" id="bgImage" src="images/images/Background.png" alt="image" style="display:none;" />
<img @ref="wallImage"  src="images/images/WallSprite.png" alt="image" style="display:none;" />
<img @ref="powerImage"  src="images/images/powerup.png" alt="image" style="display:none;" />
<img @ref="explosionImage"  src="images/images/explosion.png" alt="image" style="display:none;" />

<div class="tool-box">
    <label >Name</label>
    <input @bind="_playerName" maxlength="16"  placeholder="Type your name here" disabled="@_controller.IsConnected"/>

    <labe>Server address</labe>
    <input @bind="_serverAddress" placeholder="Server address" disabled="@_controller.IsConnected"/>

    <labe>Server port</labe>
    <input @bind="_port" placeholder="Server port" disabled="@_controller.IsConnected"/>

    <button @onclick="Connect" disabled="@_controller.IsConnected">Connect</button>
    
    <button @onclick="Disconnect">Disconnect</button>
    
    
</div>


@if (_controller.ErrorMessage != string.Empty)
{
    <div class="popup-overlay">
        <div class="popup-box">
            <p>
                @_controller.ErrorMessage
            </p>
            <button class="close-button" @onclick="() => _controller.ErrorMessage = string.Empty">
                X
            </button>
        </div>
    </div>
}


<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="1000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>


@code
{
    /// <summary>
    /// Reference to the canvas component used for rendering the game.
    /// </summary>
    private BECanvasComponent? _canvasReference;
    
    /// <summary>
    /// Reference to the canvas component used for drawing the game.
    /// </summary>
    private Canvas2DContext? _context;
    
    
    private IJSObjectReference? _jsModule;

    
    /// <summary>
    /// Handles all networking logic, including connecting to the server,
    /// sending input, and receiving game state updates.
    /// </summary>
    private NetworkController _controller = new NetworkController();

    
    
    /// <summary>
    /// The name of the player entered by the user.
    /// </summary>
    private string _playerName = string.Empty;
    
    /// <summary>
    /// The server address used to connect to the game.
    /// Defaults to localhost.
    /// </summary>
    private string _serverAddress = "localhost";
    
    
    /// <summary>
    /// The port number used to connect to the server. Default port is 11000.
    /// </summary>
    private int _port = 11000;
    
    /// <summary>
    /// Represents the current state of the game world,including players, walls and power-ups.
    /// </summary>
    private World _world = new World();

    
    /// <summary>
    /// A predefined set of colors used to render different players.
    /// Each player is assigned a color based on their ID.
    /// </summary>
    private string[] colors =
    {
        "red",
        "blue",
        "green",
        "yellow",
        "purple",
        "cyan",
        "orange",
        "pink",
        "lime",
        "magenta"
    };


    /// <summary>
    /// Reference to the background image used to render the game world.
    /// </summary>
    private ElementReference backgroundImage;

    /// <summary>
    /// Reference to the wall sprite image used for rendering walls.
    /// </summary>
    private ElementReference wallImage;

    
    /// <summary>
    /// Reference to the power-up image used for rendering collectibles.
    /// </summary>
    private ElementReference powerImage;

    /// <summary>
    /// Reference to the explosion image used when a player dies.
    /// </summary>
    private ElementReference explosionImage;

    /// <summary>
    /// The width of the viewpoint of a player.
    /// </summary>
    private const int ViewWidth = 1000;
    
    /// <summary>
    /// The height of the viewpoint of a player.
    /// </summary>
    private const int ViewHeight = 1000;

    /// <summary>
    /// Initiates a connection to the game server on a separate thread.
    /// </summary>
    private void Connect()
    {
        new Thread(() => _controller.Connect(_serverAddress, _port, _playerName, _world)).Start();
    }

    /// <summary>
    /// Disconnects from the game server and clears the current game state.
    /// </summary>
    private void Disconnect()
    {
        _controller.Disconnect(_world);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
            
            _ = GameLoop();
            
        }
    }

    /// <summary>
    /// Runs the main game loop, continuously rendering the game.
    /// </summary>
    private async Task GameLoop()
    {
        while (true)
        {
            await Task.Delay(20);
            await DrawFrame();
        }
    }

    /// <summary>
    /// Renders a single frame of the game world.
    /// This includes clearing the canvas, applying camera transforms,
    /// and drawing all game entities (background, walls, players, power-ups, and explosions).
    /// </summary>
    private async Task DrawFrame() 
    {


        await _context.SetFillStyleAsync("lightblue");

        await _context.BeginBatchAsync();
        await _context.FillRectAsync(0, 0, 1000, 1000);
        
        World temp;
        lock (_world)
        {
            temp = new World(_world);
        }

        try
        {
            if (_controller.IsConnected && _world.Players.Count != 0)
            {
                await _context.BeginPathAsync();

                await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
                await _context.ClipAsync();

                // Because we are modifying the transformation matrix, we need to save it so we can restore it at the end
                await _context.SaveAsync();


                // Center on origin, move to center of view port
                await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
                await _context.TranslateAsync(-temp.GetSnakeHead().X, -temp.GetSnakeHead().Y);

                // Draw the background:
                await _context.DrawImageAsync(backgroundImage, -temp.Width / 2, -temp.Height / 2, temp.Width, temp.Height);

                foreach (Wall wall in temp.Walls.Values)
                {
                    await DrawWall(wall); // await to wait for it to finish 
                }

                foreach (Player player in temp.Players.Values)
                {
                    await DrawPlayer(player);
                }

                foreach (Powerup powerup in temp.Powerups.Values)
                {
                    
                    await DrawPowerup(powerup);
                    
                }

                foreach (Point2D deathPosition in temp.DeathPositions.Values)
                {
                    await DrawExplosion(deathPosition);
                   
                }
                
                //Clear the death position after drawing
                _world.DeathPositions.Clear();
                
                
            }
        }
        catch (Exception e)
        {
            // //TODO: How to handlew
            // Console.WriteLine(e.Message);
        }

        await _context.RestoreAsync();

        await _context.EndBatchAsync();
        StateHasChanged();


    }

    /// <summary>
    /// Draws a player snake including body, border, head, and UI label. The snake is 10-pixel wide.
    /// </summary>
    /// <param name="player">The player to render.</param>
    private async Task DrawPlayer(Player player)
    {

        if (!player.IsDisconnected)
        {
            await _context.SetLineJoinAsync(LineJoin.Round);

            //Set the tail of the snake to be rounded
            await _context.SetLineCapAsync(LineCap.Round);


            await _context.BeginPathAsync();

            //Draw the border
            await _context.SetLineWidthAsync(13);

            await _context.SetStrokeStyleAsync("black"); // border color

            await _context.MoveToAsync(player.Body[0].X, player.Body[0].Y);

            for (int i = 1; i < player.Body.Count(); i++)
            {
                var point = player.Body[i];
                await _context.LineToAsync(point.X, point.Y);
            }

            await _context.StrokeAsync();


            await _context.BeginPathAsync();

            await _context.SetLineWidthAsync(10);
            await _context.SetStrokeStyleAsync(colors[player.ID % 10]);

            await _context.MoveToAsync(player.Body[0].X, player.Body[0].Y);

            for (int i = 1; i < player.Body.Count(); i++)
            {
                var point = player.Body[i];
                await _context.LineToAsync(point.X, point.Y);
            }

            await _context.StrokeAsync();
        
            Point2D head = player.Body[^1];
        
            await _context.BeginPathAsync();
            await _context.ArcAsync(head.X, head.Y, 8, 0, 2 * Math.PI);

            // Border
            await _context.SetLineWidthAsync(3);
            await _context.SetStrokeStyleAsync("black");
            await _context.StrokeAsync();

            // Fill
            await _context.SetFillStyleAsync(colors[player.ID % 10]);
            await _context.FillAsync();

            // Name and score 
            await _context.SetFontAsync("bold 14px Arial");
            await _context.SetFillStyleAsync("white");
            await _context.FillTextAsync($"{player.Name}(Score:{player.Score})", head.X + 10, head.Y - 18);
        }

        
    }


    /// <summary>
    /// Draws an explosion animation at a death position.
    /// </summary>
    /// <param name="deathPosition">The position where the player died.</param>
    private async Task DrawExplosion(Point2D deathPosition)
    {
        
        await _context.DrawImageAsync(
            explosionImage,
            deathPosition.X - 50,
            deathPosition.Y - 50,
            100,
            100
        );
        
        
    }


    /// <summary>
    /// Draws a power-up at its location. The size of a power-up is 16x16 pixels.
    /// </summary>
    /// <param name="powerup">The power-up to render.</param>
    private async Task DrawPowerup(Powerup powerup)
    {
        if (_context is null || powerup.IsDied)
        {
            return;
        }
        
        
        int x = powerup.Location.X;
        int y = powerup.Location.Y;

        //Draw the border of the powerup
        await _context.BeginPathAsync();
        await _context.ArcAsync(x, y, 8, 0, 2 * Math.PI);

        await _context.SetLineWidthAsync(1);
        await _context.SetStrokeStyleAsync("black");
        await _context.StrokeAsync();

        await _context.DrawImageAsync(
            powerImage,
            x - 8,
            y - 8,
            16,
            16
        );

        await _context.StrokeAsync();

    }

    
    /// <summary>
    /// Draws a wall segment between two endpoints. Wall is 50x50 pixels.
    /// </summary>
    /// <param name="wall">The wall object containing two endpoints.</param>
    private async Task DrawWall(Wall wall)
    {
        if (_context is null)
        {
            return;
        }



        if (wall.p1.X == wall.p2.X) // Vertical
        {
            float x = wall.p1.X;
            float startY = Math.Min(wall.p1.Y, wall.p2.Y);
            float endY = Math.Max(wall.p1.Y, wall.p2.Y);

            for (float i = startY; i <= endY; i += 25)
            {
                await _context.DrawImageAsync(
                    wallImage,
                    x - 25,
                    i - 25,
                    50,
                    50
                );
            }

        }

        else // Horizontal
        {
            float y = wall.p1.Y;
            float startX = Math.Min(wall.p1.X, wall.p2.X);
            float endX = Math.Max(wall.p1.X, wall.p2.X);

            for (float i = startX; i <= endX; i += 25)
            {
                await _context.DrawImageAsync(
                    wallImage,
                    i - 25,
                    y - 25,
                    50,
                    50
                );
            }

        }

    }


    /// <summary>
    /// Handles keyboard input and forwards it to the network controller.
    /// </summary>
    /// <param name="key">The key pressed by the user.</param>
    [JSInvokable]
    public void HandleKeyPress(string key)
    {
        _controller.HandleMovement(key);
    }



}


<style>
    .close-button {
        background: #f9fafb;
        position: absolute;
        top: 1px;
        right: 1px;
        border:none;
        color: #ef4444;
        cursor: pointer;
        border-radius: 10px;
    }

    .popup-box {
        width: auto;
        height: auto;
        color: #1f2937;
        position: relative;
        background: #f9fafb;
        padding: 20px;
        border-radius: 10px;
        text-align: center;

        border: 1px solid #e5e7eb;
    }

    .popup-overlay {
        background: rgba(0, 0, 0, 0.35);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 10000; /*Top of everything*/
    }

</style>

    